<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>HACKATHON</title>
  </head>
  <body>
<h1>
  <% var i=0 %>
  <%data.forEach(function(transaction){ %>
    <h2><%= transaction.firstname %> <%= transaction.lastname %></h2>
    <h2><%= transaction.type_of_truck %></h2>
    <% i++ %>
    <button type="submit" class="btn btn-primary" name="index" value='client'><h2>BOOK NOW</h2></button>
<%  }); %>
</h1>
  </body>
</html>
